.hobbies-sc {
    .hobbies-content {
        padding-bottom: 20px;
        position: relative;
    }

    .hobbies-list {
        display: grid;
        list-style-type: none;
        grid-template-columns: repeat(9, 1fr);
        padding: 16px 0;
        margin-left: 24px;
        column-gap: 40px;

        @media(max-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media(max-width: 800px) {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 24px;
        }
    }

    .hobbies-item {
        column-gap: 10px;
        padding: 12px 0;
    }

    .hobbies-icon {
        color: $mauve;
        max-width: 40px;
        margin-right: auto;
        margin-left: auto;
    }

    .hobbies-text {
        margin-top: 6px;
    }
}
